.App {
  width: 92vw;
  height: 92vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  // border: 1px solid red;
}

.Navigation {
  // border: 1px solid blue;
  // height: 50px;
  margin-bottom: 10px;
}

.ProductList {
  // border: 1px solid green;
  width: 98%;
  margin-left: 10px;
}
